ol li {
    background-color: yellow;
    margin: 5px;
    max-width: 80%;
}

ol li.par {
    color: green;
}

ol li.impar {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 em, h2 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.pink {
    background-color: pink;
    max-width: 80%;
}

li.one a:hover {
    color: orange;
}

li.two a:hover {
    color: green;
}

li.three a:hover {
    color: black;
}

li.four a:hover {
    color: yellow;
}